{% extends "layout.html" %}

{% block content %}

{% if replay_available %}
<div id="replay-btn" class="text-center control-group margin-bot-5">
    <a class="btn btn-info" href="/replay/{{data_id}}">Replay data!</a>
</div>
{% endif %}

<div id="graph-container">
    <div class="row">
        <div class="col-md-6">
            <div id="graph-temp">
            </div>
        </div>
        <div class="col-md-6">
            <div id="graph-press">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div id="graph-height">
            </div>
        </div>
        <div class="col-md-6">
            <div id="graph-gyr">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{url_for('static', filename='js/graph.js')}}"></script>
{% endblock %}