{% extends "graph_base.html" %}

{% block scripts %}
{{super()}}
<script>
all_data = {{ graph_data|safe }}
$(function () {
    createGraph("#graph-temp", "Temp (NTC)", "Temperature", "Seconds since boot",
                "Temperature in degrees celsius", all_data["NTC_Temp"],
                [{
                    name: "Temp (BMP180)",
                    data: all_data["BMP180_Temp"]
                }]);

    createGraph("#graph-press", "Pressure", "Pressure", "Seconds since boot",
                "Pressure in kilopascal", all_data["Press"]);

    createGraph("#graph-height", "Height", "Height", "Seconds since boot",
                "Height in metres", all_data["Height"]);

    createGraph("#graph-gyr", "Gyroscope", "Rotational speed", "Seconds since boot",
                "Rounds per minute", all_data["Gyro"]);
});


</script>
{% endblock %}