{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1>About us! <small>and our CanSat...</small></h1>
    <p class="lead">
        We're a handful of students from Silkeborg Gymnasium, passionate about all things sciency and nerdy.
    </p>
    <p>
        We've all chosen to be part of the Silkeborg Gymnasium CanSat Group, an annual voluntary project lead by our teacher, Bente Jensen, who teaches physics and maths.
    </p>
    <p>
        Our team consist of 6 people including our teacher, Bente Jensen. The students in our team are Abdurahman H A Kuku, Jeppe Klitgaard, Mads Hansen Baattrup, Malthe Glent-Madsen, and Nanna Andrea Dyrbye. We all have mathematics on the highest level possible and physics on a high level too. Furthermore we have biotechnology, chemistry or music on high level.  
        Everyone, with the exception of Abdurahman, is in their first year at our school, and only Jeppe has had previous experience with programming. None of us have any experience with the CanSat concept, except our teacher, Bente, who's participated in a few CanSat competitions and courses.
    </p>

    <h2>The Mission</h2>
            <p>
            The CanSat mission is divided into two submissions, namely the primary mission and the secondary mission.
            </p>

            <p>
                In order to carry out the primary mission, the CanSat will take measurements of air temperature and pressure during the descent following ejection from the rocket. The measurements will be transmitted via a telemetry setup to the ground station at a rate of about 10 hertz.
            </p>

            <p>
                For our secondary mission we'd like to establish a two-way communication link between the Ground Station and the CanSat and use this link to take photos on-demand. Ideally, the CanSat will take a snapshot and save it along with measurements of rotation, acceleration, location and the magnet field, thus allowing us to pinpoint the exact location and direction of the photo. However, we have realized that we will need a bigger or more sensitive antenna on our CanSat in order to create the two-way communication as the one we have might not work at sufficiently long distances.
            </p>

            <p>
                Furthermore we hope to deliver live data and graphs to any given spectators, at the site and at home, using the data transmitted from the CanSat to the ground station. 
            <p/>

            <p>
                Primary mission:
                <ul>
                    <li>Air pressure</li>
                    <li>Air temparature</li>
                    <li>Telemetry</li>
                </ul>


                Secondary Mission:
                <ul>
                    <li>Camera - on-demand</li>
                    <li>The tilted compass heading</li>
                    <li>Gyroscope (rotation)</li>
                    <li>Acceleration</li>
                    <li>GPS</li>
                </ul>
            </p>

    <h2>The CanSat</h2>
        Progress on our dearest of CanSats done on a weekly basis, when we meet for 75 minute sessions.

    <h2>The Team</h2>
        As mentioned above, our team consists of 5 dedicated students and our beloved teacher, Bente.

        <h3>Abdu, 19</h3>
        Abdu is the antenna operator and an all round great guy. He's in charge of making the onboard electric circuits. He will unfortunately not be joining us in Portugal, as he is in the middle of his final exams at the time of the competition. He will be sorely missed!

        <h3>Jeppe, 18</h3>
        <p>
        Jeppe is the “Ground Station Commander” and will be in charge of programming the Ground Station (including this website). He is also in charge of figuring out how to read the data from our CanSat and how to present them in a visually appealing way. His weapon of choice is the programming language Python.
        </p>

        <h3>Mads, 16</h3>
        <p>
        Mads is the “CanSat Mechanic” and will mainly be in charge of the electronic and mechanical design. This means he’ll know how and where the different components should be placed, which extra components we need, which voltage they’ll need and where to connect them to the processor. Also, he will be in charge of soldering components onto the board. Together with Nanna, Mads will be the one to assemble the CanSat before launch.
        </p>

        <h3>Malthe, 18</h3>
        <p>
        Malthe is the “Project Scientist” and is in charge of programming the T-Minus processor and the radio (frequency, strength and speed). This means he’ll find out how the T-Minus board is working, install and update the driver software, find out which ports are available and which of those to use.
        </p>

        <h3>Nanna, 17</h3>
        <p>
        Nanna is the “Team Captain” and will in addition be in charge of the basic (outer) mechanical design of our CanSat. She’ll know how the CanSat must be constructed in order for it to withstand the loads and where to place the radio, the camera and the GPS. She designs and prints the 3D-printed outer shell of the CanSat. Also she’ll be in charge of the parachute and will know where and how it should be attached and folded. 
        </p>

        <h3>Bente, <small>Classified</small></h3>
            Bente is teacher in charge of the CanSat project at Silkeborg Gymnasium and teaches physics and mathematics. She has previously participated in a few CanSat courses and competitions.
</div>

{% endblock %}