{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1>About us! <small>and our CanSat...</small></h1>
    <p class="lead">
        We're a handful of students from Silkeborg Gymnasium, passionate about all things sciency and nerdy.
    </p>
    <p>
        We've all chosen to be part of the Silkeborg Gymnasium CanSat Group, an annual voluntary project lead by our teacher, Bente Jensen, who teaches physics and maths.
    </p>

    <h2>The CanSat</h2>
        Progress on our dearest CanSat is being made on a weekly basis, when we meet for a 75 minute session.

    <h2>The Team</h2>
        As mentioned above, our team consists of 5 dedicated students and our beloved teacher, Bente. We've all chosen maths on the highest level and physics on either the highest or second highest level. Furthermore the team collectively sports high-level chemistry, music, and biotechnology.

        <h3>Abdu, 19</h3>
        <p>asd</p>
        <h3>Jeppe, 18</h3>
        <h3>Mads, 16</h3>
        <h3>Malthe, 18</h3>
        <h3>Nanna, 17</h3>
        <h3>Bente, <small>Classified</small></h3>


</div>

{% endblock %}