{% extends "layout.html" %}

{% block content %}
<div id="graph-container">
    <div class="row">
        <div class="col-md-6">
            <div id="graph-temp">
            </div>
        </div>
        <div class="col-md-6">
            <div id="graph-press">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div id="graph-height">
            </div>
        </div>
        <div class="col-md-6">
            <div id="graph-gyr">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script>
maxPoints = 250;
series = {}

$(function () {

    Highcharts.setOptions({
        global : {
            useUTC : false,
        }
    });

    // Create the chart
    $('#graph-temp').highcharts('StockChart', {
        chart : {
            events : {
                load : function () {
                    series["Temp_NTC"] = this.series[0];
                    // series["Temp_LM35"] = this.series[1]; // LM35 does not work properly 
                }
            }
        },
        rangeSelector: {
            enabled: false
        },

        title: {
            text: "Temperature"
        },

        exporting: {
            enabled: false
        },

        xAxis: {
            title: {
                text: "Seconds since boot"
            },
            labels: {
                enabled: false
            }
        },

        yAxis: {
            title: {
                text: "Temperature in degrees celsius"
            }
        },

        series: [
            {
                name: 'NTC',
                data: []
            },
            {
                name: 'LM35',
                data: []
            }
        ]
    });

    // Create the chart
    $('#graph-press').highcharts('StockChart', {
        chart : {
            events : {
                load : function () {
                    series["Press"] = this.series[0];
                }
            }
        },
        rangeSelector: {
            enabled: false
        },

        title: {
            text: "Pressure"
        },

        exporting: {
            enabled: false
        },

        xAxis: {
            title: {
                text: "Seconds since boot"
            },
            labels: {
                enabled: false
            }
        },

        yAxis: {
            title: {
                text: "Pressure in kilopascal"
            }
        },

        series: [{
            name: 'Pressure',
            data: []
        }]
    });

    // Create the chart
    $('#graph-height').highcharts('StockChart', {
        chart : {
            events : {
                load : function () {
                    series["Height"] = this.series[0];
                }
            }
        },
        rangeSelector: {
            enabled: false
        },

        title: {
            text: "Height"
        },

        exporting: {
            enabled: false
        },

        xAxis: {
            title: {
                text: "Seconds since boot"
            },
            labels: {
                enabled: false
            }
        },

        yAxis: {
            title: {
                text: "Height in metres"
            }
        },

        series: [{
            name: 'Height',
            data: []
        }]
    });

    // Create the chart
    $('#graph-gyr').highcharts('StockChart', {
        chart : {
            events : {
                load : function () {
                    series["Gyr"] = this.series[0];
                }
            }
        },
        rangeSelector: {
            enabled: false
        },

        title: {
            text: "Rotational speed"
        },

        exporting: {
            enabled: false
        },

        xAxis: {
            title: {
                text: "Seconds since boot"
            },
            labels: {
                enabled: false
            }
        },

        yAxis: {
            title: {
                text: "Rounds per minute"
            }
        },

        series: [{
            name: 'Gyr',
            data: []
        }]
    });
});

// ENSURE WEBSOCKET ADDRESS IS CORRECT. NOT LOCALHOST, YOU DUMMY.
var socket = new WebSocket("ws://10.42.0.1:8081/ws");

socket.onmessage = function(event){
    json_obj = JSON.parse(event.data);
    console.log(json_obj)

    should_shift = series["Temp_NTC"].activePointCount >= maxPoints;
    series["Temp_NTC"].addPoint([json_obj["Time"], json_obj["Temp_NTC"]], true, should_shift);

    // LM35 does not work properly
    //should_shift = series["Temp_LM35"].activePointCount >= maxPoints;
    //series["Temp_LM35"].addPoint([json_obj["Time"], json_obj["Temp_LM35"]], true, should_shift)


    should_shift = series["Press"].activePointCount >= maxPoints;
    series["Press"].addPoint([json_obj["Time"], json_obj["Press"]], true, should_shift);

    should_shift = series["Height"].activePointCount >= maxPoints;
    series["Height"].addPoint([json_obj["Time"], json_obj["Height"]], true, should_shift);

    should_shift = series["Gyr"].activePointCount >= maxPoints;
    series["Gyr"].addPoint([json_obj["Time"], json_obj["Gyr"]], true, should_shift);
}


</script>
{% endblock %}